* {
  overflow:inherit;
}



/* Main body inheritance styling */
* {
  box-sizing: border-box;
  overflow:hidden;
  background: linear-gradient(to right, #d1b7a1 , #a18167);
}



/* Main Header Styling */
#dropDownMenu {
  font-family:'Times New Roman', Times, serif;
  background-color: transparent;
  text-decoration-line: line-through;
  color: #5c4c4e;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 35px;
  margin-left: 40%;
  margin-right: 40%;
  font-size: 45px;
  transition: color 700ms, text-decoration-line 300ms, transform 2s;
  position: relative;
  display: block;
}


/* Hover Main Header to change bg plus animation */
#dropDownMenu:hover {
  color: #6166ad;
  text-decoration-line: overline;
  background:scroll;
  transform: translateX(10%);
}


#linkcolor {
  color: #6e5558;
}

.dropDownMenu:hover .dropDownContent {
  display: block;
}

#dropDownContent {
  position: relative;
  text-align: center;
  margin-top: -27px;
  margin-bottom: 12px;
}





/* body Centre Aligning */
body {
	text-align:center;
  font-size: 24px;
}


a {
  text-decoration: none;
}



/* Styling "Problem" section _DESCRIPTION_ */
#problem {
    width: 90vw;
	margin:auto;
	margin-top:20px;
	height:80px;
	text-align:left;
	color: #6166ad;
	font-family:Luminary, cursive;
	font-size:17px;
	padding-left:20px;
	padding-right:20px;
}





/* Footer Styling */
footer{
	margin-top:20px;
	text-align:center;
	font-size: 20px;
}






/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  img {
    width: 100%;
    height: auto;
	margin-top:5px;
	padding: 2px;
    display: none;
  }

  [class*="column"] { 
     width: 100%;
     display:inline-block;
     height:60vh;
  }

  header nav button{ 
	  width:18%;
	  font-size:8px;
  }

@media screen and (min-width:600px) {
  [class*="column"] {
    width:32%;
  }
  
  header nav button{ 
	width:auto;
	font-size:1.2vw;
  }
}

