a {
    text-decoration: none;
}

body {
    background: linear-gradient(to right ,#d1b7a1 , #a18167);
}

#linker {
    margin-top: 25px;
    margin-right: 80%;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline overline;
    text-decoration-style: dotted dashed;
    opacity: 0;
    transition: opacity 2.5s ease, transform 700ms ease-in;
    position: relative;
    display: block;
}

#linker.visible {
    opacity: 1;
    transform: translateX(4%);
}